// /* NAVIGATION STUFF GOES HERE  */

@media (min-width: 900px) {
  header,
  nav,
  main {
    max-width: 960px;
    margin: auto;
            width: 100%;
  }

  .hero-image p {
    font-size: 2rem;
    width: 40%;
  }

  nav ul {
    justify-content: flex-start;
    gap: 1.25rem;
    padding-left: 0;
  }

  .nav .nav-links a {
    margin: 0;
  }

  h1 {
    margin-left: 0rem;
}

  .allcards {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem 0;

    section {
      padding: 1rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    }
  }

  .reviews-section .container {
    padding: 0;
    padding-bottom: 3rem;
  }

  .footer-inner {
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
    gap: 2rem;
  }

  .footer-upper {
    align-items: flex-start;
  }

  .footer-sitemap {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .footer-social {
    grid-column: 3;
    align-self: start;
  }

  .footer-form {
    margin-left: auto;
  }
}

