/* NAVIGATION STUFF GOES HERE  */

@media (min-width: 600px) {

	// nav

	header.nav {
		justify-content: flex-start;
		gap: 1rem;

		.menu-button {
			display: none; // hide hamburger
		}

		.nav-links {
			display: flex !important;
			position: static;
			flex-direction: row;
			height: auto;
			width: auto;
			transform: none;
			background: none;
			box-shadow: none;
			padding: 0;
			margin-left: auto;
		}

		.nav-links li a {
			color: #fff;
			padding: 0.5rem 1rem;
		}

		.nav-links li a:hover {
			background: rgba(255, 255, 255, 0.1);
			border-radius: 8px;
		}
	}



	.allcards {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		padding: 1.5rem $gutter;
	}

	.allcards section {
		// text-align: left;
		display: flex;
		flex-direction: column;
	}

	.allcards img {
		height: auto;
		margin-bottom: .5rem;
	}


	.reviews-section .container {
		padding-bottom: 3rem;
	}



	.footer-upper>div {
		flex: 1;
		/* Makes all columns equal width */
		text-align: center;
		/* Centers their content */
		min-width: 0;
		/* Prevents overflow from long content */
	}

	.footer-inner {
		grid-template-columns: 1fr 1fr;
		align-items: start;
		gap: 1.5rem;
	}

	.footer-brand {
		align-items: flex-start
	}

	.footer-form {
		display: flex;
		flex-direction: column;
		align-items: flex-end
	}

	// .footer-sitemap{grid-template-columns:repeat(2,1fr)}
	.footer-social {
		grid-column: 2
	}


	.brand-text {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 900px;
		margin: 0 auto;
		margin-bottom: 0rem;
	}


	// .brand-info {order:1;display:flex;gap:.75rem;align-items:center}
	.brand-copy p {
		margin: 0;
		font-size: .95rem;
		color: #666
	}

	.footer-form {
		order: 3;
		align-self: center
	}
}