$primaryColor: #711b1b; 
$secondaryColor: #cd8900;
$accentColor: #000000;
$greyColor: #eeeeee;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;