@import 'variables';
@import 'normalize';
@import 'small';

// Medium Screen Media Query
@media screen and (min-width: $breakpoint-medium) {
    @import 'medium';
}

// Large Screen Media Query
@media screen and (min-width: $breakpoint-large) {
    @import 'large';
}
