
    h1 {
        font-size: 2.5rem;
        font-weight: $regularFont;
        margin: 0;
    }

/* Restore horizontal nav for medium and larger screens */
@media (min-width: 48rem) {
    nav {
        ul {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
        ul li a {
            width: auto;
            text-align: center;
        }
    }
}