/* Medium screens - spread navigation evenly */
@media (min-width:480px) {
  .container {
    max-width: $max-width;
    padding: 0 1rem
  }

  // nav.primary{display:flex;justify-content:space-evenly;align-items:center}
    .menu-toggle {
    display: none;
  }

  nav.primary {
    position: static;
    transform: none;
    opacity: 1;
    background: transparent;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: auto;
  }

  nav.primary a {
    font-size: 1rem;
    border-bottom: 4px solid white;
    margin-right: .5rem;
    margin-left: .5rem;
  
  }

  nav.primary a.active{
    border-bottom: 4px solid $accent;
    border-radius: .2rem;

  }
  .logo img {
    height: 56px
  }

  .site-title {
    font-size: 1.5rem
  }

  form .row {
    flex-direction: row
  }


}