// Large screen styles
.logo {
    max-width: 180px; // Larger logo for desktop
}

// // Adjust container width
// main {
//     // padding: $spacing-large * 1.5;
// }

// Enhanced navigation styles
.nav-menu {
    li {
        margin-left: $spacing-large;
    }
    
    a {
        font-size: 1.1rem;
        transition: color 0.3s ease;
        
        &:hover {
            color: $accent-color;
        }
    }
}


// Refined grid spacing
.row {
    margin-bottom: $spacing-large;
    padding: $spacing-large;
    
}

@for $i from 1 through $grid-columns {
    $w: calc($i/$grid-columns)* 100%;
    .large-#{$i} {flex-basis: $w;}
}

// .highlight-bg {
//     margin: $spacing-large * 2 (-$spacing-large * 1.5);
//     padding: $spacing-large * 2;
// }