// Medium screen styles
.menu-toggle {
    display: none; // Hide hamburger menu
}

.nav-menu {
    display: flex;
    position: static;
    background: none;
    
    li {
        border: none;
        margin-left: $spacing-medium;
    }
    
    a {
        padding: $spacing-small;
        
        &:hover {
            color: $primary-color;
        }
    }
}

.logo {
    max-width: 150px; // Slightly larger logo for medium screens
    img{
        height: 100%;
        width: 5rem;
        max-width: none;
    };
}

// Adjust spacing for medium screens
// main {
//     padding: $spacing-large;
// }

.row {
        padding: 0 8px;

}


@for $i from 1 through $grid-columns {
    $w: calc($i/$grid-columns)* 100%;
    .medium-#{$i} {flex-basis: $w;}
}
