$primarycolor: #A68A7B;
$secondarycolor: white;
$tertiarycolor: #717340;
$quaternarycolor: #bca69b;
$fontcolor: #000000;

$defaultFont: "Raleway", sans-serif;
$lightFont: 300;
$regularFont: 400;
$boldFont: 700;

$gutter: 16px;