$primaryColor: #3A2310; 
$secondaryColor: #4D3728;
$accentColor: #E3E1DF;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;